body {
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
}

.head {
	width: 100%;
	height: 100px;
	margin: auto;
	background-color: #c801cf;
}

.head .title {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: white;
	width: 90%;
	font-size: 35px;
	text-align: center;
}

.head .title h1 {
	margin-top: 0px;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	color: #1076d1;
	margin: 5px;
	font-weight: bold;
	width: 70%;
	margin: auto;
}

.data-viewer {
	margin: 25px 10px 20px 10px;
	border: 11px solid #ff9401;
	height: 400px;
	background-color: #ecf1f4;
}

.plateform .title {
	font-family: 'Open Sans', sans-serif;
	color: #c801cf;
	margin: 5px;
	font-weight: bold;
	width: 70%;
	margin: auto;
}

.APIs {
	width: 1200px;
	margin: auto;
} 

.API {
	width: 200px;
	height: 200px;
	margin-right: 50px;
	margin: 50px;
	position: relative;
	float: left;
	text-align: center;
}
.API p {
	margin-top: 88px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.APIs a {
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.twitter {
	background-color: #d0fb01;
	color: black;
}

.facebook {
	background-color: #1076d1;
	color: white;
}

.pdf {
	background-color: #ff9401;
}